body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: #1b1b1b;
}

form {
  width: 500px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  height: 300px;
}

input, textarea, button {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
   max-width: 200px; 
}

button {
  background: #fe4e00;
  color: white;
  border: none;
  cursor: pointer;
   width: 150;
}
.triangle-container {
  position: relative;
  width: 800px;
  height: 450px;
  margin: 100px auto;
}

.card {
  width: 280px;
  height: 320px;
  background: #fe4e00;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  font-size: 20px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

/* Carte du haut */
.card-top {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* Carte bas gauche */
.card-left {
  position: absolute;
  bottom: 0;
  left: 50px;
}

/* Carte bas droite */
.card-right {
  position: absolute;
  bottom: 0;
  right: 50px;
}
/* partie footer */
.footer {
  display: flex;
  justify-content: space-between;
  background-color: #1b1b1b;
  color: #fff;
  padding: 30px 40px;
}

.footer-section {
  width: 30%;
  border-left: 2px solid #fe4e00;
  padding-left: 15px;
}

.footer-section:first-child {
  border-left: none;
  padding-left: 0;
}

.footer h3 {
  margin-bottom: 10px;
  color: #fe4e00;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 8px;
}

.footer ul li a {
  color: #fff;
  text-decoration: none;
}